<footer>
  <div class="text-center text-muted">© 2016 MONOLIST.</div>

  <div class="text-center">
    <!-- Rakuten Web Services Attribution Snippet FROM HERE -->
    <a href="https://webservice.rakuten.co.jp/" target="_blank"><img src="https://webservice.rakuten.co.jp/img/credit/200709/credit_22121.gif" border="0" alt="楽天ウェブサービスセンター" title="楽天ウェブサービスセンター" width="221" height="21"/></a>
    <!-- Rakuten Web Services Attribution Snippet TO HERE -->

    <!-- Begin Yahoo! JAPAN Web Services Attribution Snippet -->
    <a href="https://developer.yahoo.co.jp/about">
    <img src="https://s.yimg.jp/images/yjdn/yjdn_attbtn1_125_17.gif" title="Webサービス by Yahoo! JAPAN" alt="Web Services by Yahoo! JAPAN" width="125" height="17" border="0" style="margin:15px 15px 15px 15px"></a>
    <!-- End Yahoo! JAPAN Web Services Attribution Snippet -->
  </div>
</footer>
